
services:
  napcat:
    image: mlikiowa/napcat-docker:latest
    container_name: napcat
    restart: always
    environment:
      - NAPCAT_UID=${NAPCAT_UID:-1000}
      - NAPCAT_GID=${NAPCAT_GID:-1000}
    ports:
      - '3001:3001'
      - '6099:6099'
    volumes:
      - ./napcat/config:/app/napcat/config
      - ./ntqq:/app/.config/QQ
    networks:
      - bot_net

  bot:
    build: .
    container_name: qq-bot
    restart: always
    env_file: .env
    depends_on:
      - napcat
    environment:
      - ONEBOT_WS_URL=${ONEBOT_WS_URL:-ws://napcat:3001}
      - PORT=${PORT:-5140}
    volumes:
      - ./data:/app/data
    ports:
      - '${PORT:-5140}:5140'
    networks:
      - bot_net

networks:
  bot_net:
    driver: bridge
